<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/dashboard">dashboard</a>
        <a href="/register">register</a>
        <a href="/main">main</a>
        <a href="/login">login</a>
        <a href="/service">service</a>
    </nav> <br> <br>
    <footer style=" position: fixed; bottom: 0; width: 100%; background-color: lightgrey; text-align: center;">
        <p>this is the footer</p>
    </footer>
    {% block content %}{% endblock %}
</body>
</html>
