{% extends "foot.html" %}
    
    {% block content %}
    <h1>Welcome to the content Page</h1>
    <p>This is the main content of the home page.</p>
    <div>
        <h1>Handle POST Request</h1>
        <form method="POST"
            action="{{ url_for('handle_post')}}">
            <label for="username">Username:</label>
            <input type="text" 
                    password="username"   
                    name="username" required>
            <input type="password"  
                    name="password" 
                    placeholder="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    {% endblock %}